
body{
 background-color: black;
color: white;
font-family: helvetica;
margin: 0;
}

h2{
color:  	#808080 ;
text-shadow: 1px 1px 2px purple;
}

h1{
font-size: 85px;
font-family:Helvetica;
margin-top:60px;
}

 nav a {
text-decoration: none;
color: #F5F5F5;
background-color: #9E9E9E;
border-radius: 2px;
margin: 5px;
padding: 5px;
display: inline-block;
transition: 1s all;
}
nav a:hover{
background-color:red;
}
header {
text-align: center;
}
header img{
border-radius: 50%;
}
header h1{
color: #3366ff;
font-family: 'Droid Serif', serif;
}
h2{
color: white;
font-family: 'Lobster', cursive;
}

   section{
    text-align: center;
    background-image: url(http://40.media.tumblr.com/15e7597409b840cc20bd4de23f23e19a/tumblr_n4e0j6iBHs1sdyj9lo1_1280.jpg);
    height: 800px;
    background-size: cover;
    }
    
    #features{
      background-image: -webkit-linear-gradient(#303030,white);
background-image: -moz-linear-gradient(#303030,white);
background-image: -o-linear-gradient(#303030,white);
background-image: linear-gradient(#303030,white);
background-attachment: fixed;
    background-color: none ;
    height; 200px;
    }
    
    
    p {
background-color:  	#808080 ;
font-family: impact, haettenschweiler, "arial narrow bold", sans-seriff;
margin: 50;
padding: 20px;
width: 200px;
display: inline-block;
transition: 1s all;
}

p:hover{
   transform: rotate(-7deg);
}
background {
   <img src="/patterns/footer_lodyas.png">
    button{
     color: #FFF;
     background-color: red;
     border: none;
     border-radius: 3px;
     padding: 5px;
     margin-top: 40px
    }
img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
footer {
 <i class="fa fa-copyright"></i>
}
button {
 <a href="http://nanajean14.github.io/Wats-Up/my-work.html">
}
